.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.large {
  font-size: 8rem;
}

.medium {
  font-size: 4rem
}

.small {
  font-size: 2rem;
}